.splash-screen {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 3s ease;
}

.splash-screen.fade-out {
  opacity: 0;
}

.sombrero {
  max-width: 300px;
  cursor: pointer;
  transition: transform 1s ease;
  transform: rotate(0deg) scale(1);
}

.sombrero.zoom-out {
  transform: scale(5);
  opacity: 0;
}

.sombrero:hover{
transform: rotate(10deg) scale(1.1);
}